[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
    branch = SDL2
[submodule "libs/wxWidgets"]
	path = libs/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "libs/fftw3"]
	path = libs/fftw3
	url = https://github.com/TomasBoda/fftw3-source.git
